@media(max-width: 1440px) {
  .container {
    max-width: 1440px;
    width: 100%;
  }

  .section-6__cards::before {
    right: 0%;
  }

  .nav__content {
    padding: 20px 0 20px 0;
  }
}

@media(max-width: 1200px) {
  .header__img {
    border-radius: 40px 40px 40px 0px;
    max-width: 520px;
    max-height: 650px;
  }

  .header__title {
    font-size: 50px;
  }

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
  }

  .section-1__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 80px 0;
  }
}

@media(max-width: 1024px) {
  .section-2__content-left .left .section-2__img:nth-child(1) {
    max-width: 350px;
  }

  .section-2__img {
    max-width: 350px;
    max-height: 450px;
  }

  .section-6__img {
    max-width: 300px;
  }

  .section-6__cards::before {
    right: 0%;
    top: -11%;
  }

  .section-5__content-cards {
    column-gap: 30px;
  }

  .section-4__card {
    padding: 40px 50px 40px 50px;
  }

  .section-3__right .right {
    padding-right: 80px;
  }

  .section-2__title {
    font-size: 35px;
  }

  .section-2__card {
    position: absolute;
    bottom: 55px;
    right: -10%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 20px 42px -2px rgb(0 0 0 / 12%);
    border-radius: 15px;
    background: var(--white);
    max-width: 350px;
  }

  .header__img {
    border-radius: 40px 40px 40px 0px;
    max-width: 500px;
    max-height: 650px;
  }
}

@media(max-width: 992px) {
  .header__img {
    border-radius: 40px 40px 40px 0px;
    max-width: 470px;
    max-height: 600px;
  }

  .header__title {
    font-size: 40px;
  }

  .section-2__content-right {
    margin-left: 100px;
  }

  .section-2__title {
    font-size: 31px;
  }

  .header__title {
    font-size: 40px;
  }

  .section-7__img {
    max-width: 435px;
    max-height: 530px;
    top: -30%;
  }

  .section-6__title {
    font-size: 40px;
  }
}

@media(max-width: 768px) {

  /* Burger Menu */
  .nav__list {
    display: none;
  }

  .nav__list.active {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: rgba(110, 110, 110, 0.05);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .nav__link {
    font-size: 20px;
    margin: 10px 0;
    display: inline-block;
  }

  .menu-btn {
    width: 40px;
    height: 2px;
    background: #000;
    position: relative;
    padding: 0;
    border: none;
    border-radius: none;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
  }

  .menu-btn.active {
    position: fixed;
    top: 45px;
    right: 10px;
  }

  .menu-btn::after,
  .menu-btn::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: #000;
    left: 0;
    top: -10px;
    transition: 0.5s;
  }

  .menu-btn::after {
    top: 10px;
  }

  .menu-btn.active::after {
    transform: rotate(45deg);
    top: 0;
  }

  .menu-btn.active::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .menu-btn.active {
    background: transparent;
  }

  /* ----------------- */
  .header__content {
    flex-direction: column-reverse;
  }

  .section-2__content {
    flex-direction: column;
  }

  .section-5__content-cards {
    flex-wrap: wrap;
  }

  .section-6__cards {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .section-7__title {
    font-size: 35px;
  }

  .section-1__img {
    max-width: 160px;
    opacity: 0.9;
  }

  .section-2__content-right {
    margin-left: 75px;
  }

  .section-3__right .right {
    padding-right: 5px;
  }

  .section-3__content {
    min-height: 420px;
  }

  .section-3__btns {
    column-gap: 10px;
  }

  .section-4__card {
    padding: 30px 40px 30px 40px;
  }

  .section-5__content-cards {
    flex-wrap: wrap;
    width: 90%;
  }

  .section-6__title {
    font-size: 26px;
  }

  .section-6__cards::before {
    right: 28%;
    top: 68%;
  }

  .footer__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 0 60px 0;
  }
}

@media(max-width: 515px) {
  .header__img {
    border-radius: 40px 40px 40px 0px;
    max-width: 450px;
    max-height: 500px;
  }

  .section-1__content {
    flex-direction: column;
    row-gap: 20px;
    padding: 60px 0 60px 0;
  }

  .section-2__content-left .left {
    flex-direction: column;
  }

  .section-2__img {
    width: 100%;
  }

  .section-3__content {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .section-3__title,
  .section-3__txt {
    color: var(--text);
  }

  .section-4__cards {
    flex-direction: column;
    row-gap: 20px;
  }

  .section-4__card {
    padding: 40px 50px 40px 50px;
  }

  .section-5__content-cards {
    flex-wrap: wrap;
    width: 50%;
    row-gap: 30px;
  }

  .section-6__top {
    flex-direction: column;
  }

  .section-6__title {
    font-size: 25px;
  }

  .section-7__content {
    flex-direction: column-reverse;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }

  .footer__content {
    flex-direction: column;
    row-gap: 30px;
  }

  .section-6__cards::before {
    right: 17%;
    top: 63%;
  }
}

@media(max-width: 425px) {
  .header__img {
    border-radius: 40px 40px 40px 0px;
    max-width: 350px;
    max-height: 400px;
  }

  .header__input {
    padding-right: 30px;
  }

  .input__btn {
    padding: 18px 25px 18px 25px;
  }

  .nav__content {
    padding: 10px 0 10px 0;
  }

  .menu-btn.active {
    top: 35px;
    right: 20px;
  }

  .section-2__img {
    max-width: 250px;
    max-height: 450px;
  }

  .section-2__card {
    position: absolute;
    bottom: 25px;
    right: -26%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 20px 42px -2px rgb(0 0 0 / 12%);
    border-radius: 15px;
    background: var(--white);
    /* max-width: 340px; */
  }

  .section-3__title {
    max-width: none;
    font-size: 30px;
  }

  .section-5__content-cards {
    flex-wrap: wrap;
    width: 100%;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .section-6__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .section-6__cards::before {
    right: 3%;
    top: 63%;
  }

  .section-7__img {
    max-width: 318px;
    max-height: 330px;
    /* top: -30%; */
  }

  .section-7__title {
    font-size: 35px;
    text-align: center;
  }

  .footer__content {
    padding: 20px 0 20px 0;
  }
}

@media(max-width: 375px) {
  .header__form {
    max-width: 350px;
  }

  .section-2__card {
    position: absolute;
    bottom: 21px;
    right: -17%;
    padding: 7px;
  }

  .section-2__content-right {
    margin-left: 50px;
  }

  .section-3__btn.active {
    padding: 18px 30px 18px 30px;
  }

  .section-5__title {
    font-size: 35px;
  }

  .section-6__cards::before {
    right: -4%;
    top: 63%;
  }

  .menu-btn.active {
    right: 10px;
  }
}

@media(max-width: 320px) {
  .header__input {
    padding-right: 10px;
    padding: 18px 0 18px 10px;
    max-width: 300px;
  }

  .section-4__card {
    padding: 30px 40px 30px 40px;
  }

  .input__icon {
    display: none;
  }

  .logo {
    max-width: 150px;
  }

  .header__title {
    font-size: 25px;
    line-height: 40px;
  }

  .header__img {
    border-radius: 40px 40px 40px 0px;
    max-width: 300px;
    max-height: 300px;
  }

  .input__btn {
    padding: 15px 15px 15px 15px;
  }

  .section-5__title {
    font-size: 30px;
  }

  .section-2__card {
    position: absolute;
    bottom: 20px;
    right: -8%;
    padding: 7px;
  }

  .nav__list.active {
    width: 100%;
  }
  .section-6__cards::before{
    display: none;
  }
}