@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --active-btn: #F78434;
  --active-link: #F78434;
  --text: #323232;
  --white: #fff;
  --grey: #BBBBBB;
  --grey2: #D8D8D8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 6px;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

.nav {
  /* box-shadow: 1px 1px 3px var(--border); */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  backdrop-filter: blur(15px);
  /* background:   rgba(0, 0, 0, 0.05)  ; */
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0 45px 0;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-left: 40px;
  color: var(--text);
  transition: 0.5s;
}

.nav__link.active {
  color: var(--active-link);
  font-weight: bold;
}

.nav__link:hover {
  color: var(--active-link);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap:50px;
}

.header__title {
  font-weight: bold;
  font-size: 54px;
  line-height: 79px;
  letter-spacing: 0.8px;
  color: var(--text);
}

.header__txt {
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: var(--text);
  padding-top: 25px;
}

.header__img {
  border-radius: 40px 40px 40px 0px;
  max-width: 540px;
  max-height: 676px;
}

.header__form {
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  /* display: inline-block; */
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 459px;
  background: #FFFFFF;
}

.input__icon {
  width: 24px;
  height: 20px;
  margin-left: 30px;
  background: var(--white);
}

.header__input {
  background: #FFFFFF;
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  max-width: 459px;
  /* padding-left: 20px; */
  padding: 18px 0 18px 20px;
  padding-right: 70px;
}

.header__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey);
}

.form {
  display: flex;
  align-items: flex-start;
}

.input__btn {
  border-radius: 30px;
  background: var(--active-btn);
  color: var(--white);
  padding: 18px 35px 18px 35px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.section-1__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0 100px 0;
}

.section-1__img {
  max-width: 190px;
  opacity: 0.9;
}

.section-1__img:hover {
  opacity: 1;
  color: var(--text);
}

.section-2__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 145px 0;
}

.section-2__title {
  max-width: 374px;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: var(--text);
}

.section-2__txt {
  padding-top: 20px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: var(--text);
}

.section-2__txt:last-child {
  padding-bottom: 40px;
}

.section-2__btn {
  margin-top: 40px;
}

.section-2__btn a {
  padding: 18px 40px 18px 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  background: var(--active-btn);
  border-radius: 29px;
}

.section-2__content-left {
  position: relative;
}

.section-2__content-left .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.section-2__content-right {
  margin-left: 180px;
}

.section-2__img {
  max-width: 385px;
  max-height: 550px;
}

.section-2__card {
  position: absolute;
  bottom: 80px;
  right: -10%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background: var(--white);
  max-width: 300px;
}

.card_body {
  padding-left: 10px;
}

.section-2__card span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.section-2__card p {
  max-width: 177px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: var(--text);
}

.section-3__content {
  background: url(../img/main.svg) no-repeat center / cover;
  min-height: 464px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.section-3__right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-3__right .right {
  padding-right: 100px;
}

.section-3__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  max-width: 342px;
  color: var(--white);
}

.section-3__txt {
  font-size: 16px;
  line-height: 27px;
  color: var(--white);
  letter-spacing: 1.15px;
  padding-top: 15px;
  max-width: 342px;
}

.section-3__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  margin-top: 30px;
}

.section-3__btn.active {
  padding: 18px 40px 18px 40px;
  background: var(--active-btn);
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
}

.section-3__btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
  background: var(--white);
  border-radius: 30px;
  padding: 18px 30px 18px 30px;

}

.section-3__btn i {
  /* background: var(--active-btn); */
  font-size: 15px;
  padding-right: 7px;
  color: var(--active-btn);
}

.section-4__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0 100px 0;
}

.section-card__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: var(--text);
  /* max-width: ; */
}

.section-card__txt {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: var(--text);
  padding-top: 10px;
}

.section-4__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  column-gap: 30px;
}

.section-4__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 80px 40px 80px;
  border-radius: 10px;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  background: var(--white);
  transition: 0.5s;
}

.section-card__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.8px;
  color: var(--text);
  padding-top: 15px;
  transition: 0.5s;
}

.section-card__txt {
  max-width: 364px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
  color: var(--text);
  transition: 0.5s;
}

.section-4__btn {
  margin-top: 30px;
}

.section-4__btn a {
  padding: 18px 40px 18px 40px;
  background: var(--white);
  color: var(--active-btn);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 29px;
}

.section-4__card:hover {
  background: var(--active-btn);
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
}

.section-4__card:hover .section-card__title,
.section-4__card:hover .section-card__txt {
  color: var(--white);
}

.section-4__card:hover .sale {
  color: var(--white);
}

.section-5__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 100px 0;
}

.section-5__title {
  /* max-width: 358px; */
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.8px;
  color: var(--text);
}

.section-5__content-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  column-gap: 35px;
  width: 100%;

}

.section-5__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-5__card-title {
  max-width: 260px;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: var(--text);
  padding-top: 15px;
}

.section-5__card-txt {
  max-width: 248px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.15px;
  color: var(--text);
  padding-top: 5px;
}

/* Section-6 */
.section-6__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 60px 0;
}

.section-6__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.section-6__title {
  max-width: 452px;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
}

.section-6__txt {
  max-width: 398px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.section-6__bottom {
  padding-top: 60px;
  width: 100%;
}

.section-6__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  position: relative;
}

.section-6__cards::before {
  content: url(../img/shape.svg);
  position: absolute;
  top: -10%;
  right: -3%;
  width: 80px;
  height: 80px;
}

.section-6__card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.section-6__card .card-body {
  padding: 30px;
  background: #FFFFFF;
  border-radius: 0px 0px 5px 5px;
}

.section-6__card-txt {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: var(--text);
  max-width: 292px;
}

.section-6__card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: var(--text);
}

.section-6__card span {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: var(--active-link);
}

.section-7 {
  background: url(../img/main-bg.svg) no-repeat center / cover;
  min-height: 492px;
}

.section-7__img {
  max-width: 478px;
  max-height: 547px;
  top: -30%;
}

.section-7__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-7__title {
  max-width: 359px;
  font-weight: bold;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: var(--white);
}

.section-7__txt {
  max-width: 342px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  color: var(--white);
  padding-top: 15px;
  margin-bottom: 30px;
}

.section-7__btn {
  color: var(--text);
  border-radius: 29px;
  padding: 18px 40px 18px 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background: var(--white);
  margin-top: 20px;
}

.footer__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 80px 0 80px 0;
}

.footer__icons {
  column-gap: 50px;
  display: inline-block;
  display: flex;
}

.footer__txt {
  max-width: 300px;
  color: var(--text);
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.15px;
  padding-bottom: 20px;
}

.footer__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.5px;
  padding-bottom: 18px;
}

.footer__link {
  color: var(--text);
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}